<%- include("./partials/header") %>
    <div>
        <h1>
            Home
        </h1>
    </div>
    <div>
        <p>
            <%= homeStartingContent %>
        </p>
    </div>
    <div>
        <% posts.forEach((post)=>{ %>
            <h1>
                <%= post.title %>
            </h1>
            <p>
                <%= post.content.substring(0, 100) + "..." %>
                    <a href="/posts/<%=post.title%> ">Read more</a>
            </p>
            <%}) %>
    </div>


    <%- include("./partials/footer") %>